<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>CSS LAYOUT</title>
  </head>
  <body>
    <!-- 
        -create a two boxes each has its own width and height and background
        -use external css to style it 
        -make them next to each other using position
        -when you hover on one of them the background changes 
        -try to use classes <div class="div"> 'ex'
        -for the rest of the styling .... do as you want
     -->
    <div class="div1"></div>
    <div class="div2"></div>

    <div class="container">
      <div class="bx1"></div>
      <div class="bx2"></div>
    </div>
  </body>
</html>
