*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 50%;
  max-width: 50%;
  max-height: 30vh;
  height: 30vh;
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: space-around;
  box-shadow: 0 10px 10px rgb(0, 0, 0);
}

.inputs {
  width: 100%;
}

.inputs input {
  width: 85%;
  padding: 5px 25px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
}

button {
  height: 100%;
  padding: 0 25px;
  background-color: #0f0c29;
  color: #fff;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  border: none;
  cursor: pointer;
}

button:active {
  background-color: #292171;
}

.todos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.card {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
  background-color: #ccc;
  border-radius: 4px;
}

.card h2 {
  font-size: 18px;
  font-weight: 400;
}

.card img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.remove {
  display: none;
}
