* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 40%;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
}

.inputs {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.inputs input {
  padding: 5px 15px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.inputs input:focus {
  border: 1px solid #1dea1d;
}

.inputs button {
  padding: 5px 15px;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.content {
  flex-direction: column;
  gap: 20px;
  display: none;
}

.content.active {
  display: flex;
}

.content h1 {
  font-weight: 400;
  text-transform: uppercase;
}
